-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.0+cpu
torchvision==0.15.0+cpu
pandas==1.4.*
jupyterlab
matplotlib
tensorflow == 2.9
protobuf == 3.20
tqdm
ipywidgets
jupyterlab_widgets
scikit-learn